@font-face {
	font-family: 'BEBAS';
	src: url('BEBAS.eot'); /* IE9 Compat Modes */
	src: url('BEBAS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('BEBAS.woff') format('woff'), /* Modern Browsers */
	     url('BEBAS.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('BEBAS.svg#svgFontName') format('svg'); /* Legacy iOS */
}

header {
  width: 600px;
  height: 100px;
  margin: auto;
}

header h1 {
  font-family: "Bebas";
  text-align: center;
}

.main-content {
  width: 600px;
  margin: auto;
}

#bar-canvas {
  display: none;
}

p {
  font-family: "Bebas";
  word-spacing: 10px;
}

.visualizer {
  width: 600px;
}

input[type='range'] {
  width: 600px;
}

#stop-record {
  display: block;
}
